extends layout

block header
  +css('./css/index.css')
  +css('./css/app.css')
  include editor_css

block loadFiles
  +js('./vendor/ace/src/ace.js')
  +js('./vendor/vmjs/lib/polymergestures.min.js')
  +js('./vendor/vmjs/lib/pointerevents.min.js')
  +js('./vendor/vmjs/src/vismodeljs/Utils.js')
  +js('./vendor/vmjs/src/vismodeljs/Viewport.js')
  +js('./vendor/vmjs/src/vismodeljs/LayoutEngine.js')
  +js('./vendor/vmjs/src/vismodeljs/NodeView.js')
  +js('./vendor/vmjs/src/vismodeljs/VisualModelPanel.js')
  +js('./vendor/vmjs/src/vismodeljs/Shape.js')
  +js('./vendor/vmjs/app.js')
  +js('./js/top.js')

block content
  .screen(style="left: 0%;")
    .container#nez
      .row.row-content#playground(style="left:0px;")
        .header(style="padding-left: 10px; padding-right: 10px;")
          h2(style="display:inline-block; color: rebeccapurple")
            a(href="/") Nezcc Parser Generator Online Demo
        .row
          .col-leg-12
            #opegEditor(name="example", style="display: block; font-size: 15px; height: 500px;")
            br
            .text Grammar Name :&nbsp
              input#fileName(name="fileName", type="text", value="math")
              span   &nbsp
              span.text#output Target Language :&nbsp
                .dropdown(style="display: inline")
                  button.btn.btn-default.dropdown-toggle.txt#dropdownOutput(type="button", data-toggle="dropdown") None&nbsp
                    span.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownOutput")
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="c") c
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="c") cnez3
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="fsx") fsharp
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="hs") haskell
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="java") java2
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="java") java8
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="js") javascript
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="pl") perl5
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="py") python2
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="py") python3
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="rkt") recket
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="rs") rust1
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="scala") scala
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="swift") swift
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="swift") swift3
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="ts") typescript
            br
            input.btn.btn-primary.btn-lg.btn-block#generate(type="submit", value="Generate Parser!")
        hr
        .row-output
          .col-leg-12
            #outputEditor(name="example", style="")
        .row-download
          .col-leg-12#downloadCol
        hr
        .footer
          p
            div(align='center') Kuramitsu Lab 2017
    style.
      #forkongithub a{background:#228B22	;color:#fff;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#0000FF	;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:35px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}
    span#forkongithub
      a(href='https://github.com/kkuramitsu/origami')      Fork me on GitHub      &nbsp
