extends layout

block header
  +css('./css/index.css')
  +css('./css/app.css')
  include editor_css

block loadFiles
  +js('./vendor/ace/src/ace.js')
  +js('./vendor/vmjs/lib/polymergestures.min.js')
  +js('./vendor/vmjs/lib/pointerevents.min.js')
  +js('./vendor/vmjs/src/vismodeljs/Utils.js')
  +js('./vendor/vmjs/src/vismodeljs/Viewport.js')
  +js('./vendor/vmjs/src/vismodeljs/LayoutEngine.js')
  +js('./vendor/vmjs/src/vismodeljs/NodeView.js')
  +js('./vendor/vmjs/src/vismodeljs/VisualModelPanel.js')
  +js('./vendor/vmjs/src/vismodeljs/Shape.js')
  +js('./vendor/vmjs/app.js')
  +js('./js/top.js')

block content
  .screen(style="left: 0%;")
    .container#nez
      .row.row-content(id="playground", style="left:0px;")
        .header(style="padding-left: 10px; padding-right: 10px;")
          h2(style="display:inline-block; color: rebeccapurple") Try Nez
          //- i.fa.fa-chevron-circle-right.konoha-btn(href="#konoha")
            p.konoha-btn-label Konoha
        .input-area
          .collapse-block(id="peg4d")
            .ground-label(id="peg4d")
              span.text(id="peg4d") Nez Grammar&nbsp&nbsp&nbsp&nbsp
                .dropdown(style="display: inline")
                  span File:&nbsp&nbsp
                  button.btn.btn-default.dropdown-toggle.txt(type="button", data-toggle="dropdown", id="dropdownInput")
                    |None&nbsp&nbsp
                    span.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownInput")
                    li.fileUploader(role="presentation", style="display: inline")
                      input.uploader(type="file", id="p4d", style="height: 30px; width: 158px;")
                      .importp4d(style="position: relative; padding: 4px 12px;", id="p4d")
                        span.glyphicon.glyphicon-folder-open
                        span.text &nbsp&nbsp&nbspImport
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="c") C
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="javaScript4") JavaScript
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="konoha") Konoha
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="json") JSON
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="csv") CSV
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="math") Math
              i.fa.fa-refresh.btn-refresh(id="nez")
            pre#pegEditor(name="example", style="height: calc(100% - 40px)")
          .p(style="height: 2%")
          .collapse-block(id="input")
            .ground-label(id="input")
              span.text(id="input") Input Source&nbsp&nbsp&nbsp&nbsp
                span File:&nbsp&nbsp
                .fileUploader(style="display: inline")
                  input.uploader(type="file", id="source", style="margin-left: 142px; margin-top: 2px; height: 30px; width: 94px;")
                  .btn.btn-default(style="position: relative; padding: 4px 12px;", id="source")
                    span.glyphicon.glyphicon-folder-open
                    span.text &nbsp&nbsp&nbspImport
                  span.txt(style="padding-left: 5px; font-size: 14px; padding-top: 2px; vertical-align: middle") None
              i.fa.fa-refresh.btn-refresh(id="input")
            pre#inputEditor(name="example", style="height: calc(100% - 40px)")
        include visual
  .screen(style="left:100%;")
    .container#konoha
      .row.row-content(id="konoha", style="left:0px;")
        .header(style="padding-left: 10px; padding-right: 10px;")
          h2(style="display:inline-block; color: rgb(16, 149, 0)") Try Konoha
          span.btn.btn-primary(type="button", id="run", style="margin-left:20px; background-color: rgb(16, 149, 0); border-color: rgb(14, 122, 0)") Run
          i.fa.fa-chevron-circle-left.nez-btn(href="#nez")
            p.nez-btn-label Nez
        .input-area.input-area-konoha
          .collapse-block(id="konoha")
            .ground-label(id="konoha")
              span.text(id="konoha") Input Source
              i.fa.fa-refresh.btn-refresh(id="konoha")
            pre#konohaEditor(name="example", style="height: calc(100% - 40px)")
        .output-area(style="width: 50%")
          textarea.konoha-result(style="width: 100%; height: 100%; font-size: 24px; padding: 10px;", id="konoha") Result
