extends layout

block header
  +css('./css/index.css')
  +css('./css/app.css')
  include editor_css

block loadFiles
  +js('./vendor/ace/src/ace.js')
  +js('./vendor/vmjs/lib/polymergestures.min.js')
  +js('./vendor/vmjs/lib/pointerevents.min.js')
  +js('./vendor/vmjs/src/vismodeljs/Utils.js')
  +js('./vendor/vmjs/src/vismodeljs/Viewport.js')
  +js('./vendor/vmjs/src/vismodeljs/LayoutEngine.js')
  +js('./vendor/vmjs/src/vismodeljs/NodeView.js')
  +js('./vendor/vmjs/src/vismodeljs/VisualModelPanel.js')
  +js('./vendor/vmjs/src/vismodeljs/Shape.js')
  +js('./vendor/vmjs/app.js')
  +js('./js/top.js')

block content
  .screen(style="left: 0%;")
    .container#nez
      .row.row-content#playground(style="left:0px;")
        .header(style="padding-left: 10px; padding-right: 10px;")
          h2(style="display:inline-block; color: rebeccapurple") Nezcc ParserGenerator
        .input-area(style="width: 50%")
          .collapse-block#opeg(style="height: 95%")
            .ground-label#opeg
              span.text#opeg OPEG File :&nbsp
                .dropdown(style="display: inline")
                  button.btn.btn-default.dropdown-toggle.txt#dropdownInput(type="button", data-toggle="dropdown") None&nbsp
                    span.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownInput")
                    li.fileUploader(role="presentation", style="display: inline")
                      input.uploader#opeg(type="file", style="height: 95%; width: 158px;")
                      .importp4d#opeg(style="position: relative; padding: 4px 12px;")
                        span.glyphicon.glyphicon-folder-open
                        span.text &nbsp Import
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="csv") CSV
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="email") Email
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="epsilon") Epsilon
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="iroha") Iroha
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="java") Java
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="js") JavaScript
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="json") JSON
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="kal") KaleidoScope
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="math") Math
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="py") Python
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="rb") Ruby
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="testcase") Test
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="utf8") UTF-8
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="xml") XML
              i.fa.fa-refresh.btn-refresh#opeg
            pre#opegEditor(name="example", style="height: 95%")
        .output-area(style="width: 50%")
          .collapse-block#output(style="height: 95%")
            .ground-label#output
              span.text#output Target Language :&nbsp
                .dropdown(style="display: inline")
                  button.btn.btn-default.dropdown-toggle.txt#dropdownOutput(type="button", data-toggle="dropdown") None&nbsp
                    span.caret
                  ul.dropdown-menu(role="menu", aria-labelledby="dropdownOutput")
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="java") Java
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="c") C
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="py") Python
                    li(role="presentation")
                      a(role="menuitem", tabindex="-1", value="hs") Haskell
              span.btn.btn-primary#generate(type="button", style="margin-left:20px; background-color: rgb(0, 0, 200); border-color: rgb(0, 0, 100)") Generate
            pre#outputEditor(name="example", style="height: 95%")
